.toggle {
	display: none;
}
.collapsibleContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapCollabsible {
	margin: 1.2rem 0;
	width: 90%;
	background-color: var(--white);
	border-radius: 5px;
}
.lblToggle {
	display: block;
	font-size: 1.2rem;
	padding: 1rem;
	color: var(--black);
	background: var(--white);
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
}
.lblToggle::before {
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);
	transition: transform 0.2s ease-out;
}
.toggle:checked + .lblToggle::before {
	transform: rotate(90deg) translateX(-3px);
}
.collapsibleContent {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lblToggle + .collapsibleContent {
	max-height: 350px;
}
.toggle:checked + .lblToggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.collapsibleContent .contentInner {
	background: var(--white);
	border: 1px solid var(--gray);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 0.5rem 1rem;
}
.collapsibleContent p {
	margin-bottom: 0;
}
.contentInner ul li {
	font-size: 1.2em;
	margin: 0.5em 0;
}
.labelContainerCheck{
	display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.labelContainerCheck input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark{
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid var(--shadow);
}
.labelContainerCheck input:checked ~ .checkmark{
	background-color: var(--purple);
}
.checkmark:after{
	content: "";
	position: absolute;
	display: none;
}
.labelContainerCheck input:checked ~ .checkmark:after{
	display: block;
}
.labelContainerCheck .checkmark:after{
	-webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.collapsibleContainer label{
	display: grid;
	grid-template-columns: 2em 8em;
	align-items: center;
}