.checksContainer {
	display: flex;
	flex-direction: column;
	background: var(--background);
	height: 100vh;
}
.checksContainer main div {
	margin-bottom: 3em;
}
.checksContainer section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2em;
	color: var(--black);
	margin: 1em 0 0 2em;
}
.checksContainer section input {
	margin-right: 1em;
	width: 20px;
	height: 20px;
}
.checksContainer span {
	margin-left: 3em;
	font-size: 1.5em;
}
.checksContainer small{
	margin-top: 2em;
	margin-left: 4em;
	color: var(--black);
	text-decoration: underline;
}
